$color: purple;
$height: 20px;

@define-mixin text-purple {
  color: $color;
}

.test {
  display: flex;
  transition: all .5s;
  user-select: none;
  height: $height;
  background: linear-gradient(to bottom, white, black);
  @mixin text-purple;
}
